﻿@page
@using Microsoft.Extensions.Localization
@using SquidexManagement.Localization
@model SquidexManagement.Web.Pages.SquidexManagement.IndexModel
@inject IStringLocalizer<SquidexManagementResource> L
@{
}
<h1>SquidexManagement</h1>
<p>@L["SamplePageMessage"]</p>
