﻿@page
@using Microsoft.Extensions.Localization
@using ContentManagement.Localization
@model ContentManagement.Web.Pages.ContentManagement.IndexModel
@inject IStringLocalizer<ContentManagementResource> L
@{
}
<h1>ContentManagement</h1>
<p>@L["SamplePageMessage"]</p>
